#scoreboard {
  height: 100%; /* always show */
  width: 250px;
  position: fixed;
  left: 0;
  background-color: #f4e5c6;
  padding-top: 15px;
}

#settingsbar {
  position: fixed;
  right: -250px; /* hide by positioning it too far to the right */
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  transition: all 0.3s; /* slide animation */
}

#settingsbar.active { /* when id settingsbar also has the class active, will overwrite "right" */
  right: 0;
}

#settingsbarToggle {
  position: fixed; 
  top: 10px; 
  right: 260px
}


